<web-app>
  <servlet>
    <servlet-name>AuctionServlet</servlet-name>
    <servlet-class>demo.AuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionServlet</servlet-name>
    <url-pattern>/auctions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>demo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLotServlet</servlet-name>
    <servlet-class>demo.AddLotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLotServlet</servlet-name>
    <url-pattern>/add_lot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>demo.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAuctionsServlet</servlet-name>
    <servlet-class>demo.MyAuctionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAuctionsServlet</servlet-name>
    <url-pattern>/my_auctions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAuctionsServlet</servlet-name>
    <servlet-class>demo.MyAuctionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAuctionsServlet</servlet-name>
    <url-pattern>/myAuctions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAuctionServlet</servlet-name>
    <servlet-class>demo.EditAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAuctionServlet</servlet-name>
    <url-pattern>/EditAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAuctionServlet</servlet-name>
    <servlet-class>demo.DeleteAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAuctionServlet</servlet-name>
    <url-pattern>/delete_auction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BidServlet</servlet-name>
    <servlet-class>demo.BidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidServlet</servlet-name>
    <url-pattern>/BidServlet</url-pattern>
  </servlet-mapping>
</web-app>